body { margin: 0px; padding: 0px; }
#wrapper { width: 810px; height: 900px; background-color: #ff0000; }
#landingpage { background: url('../img/landing_page_bg.jpg') no-repeat; width: 810px; height: 900px; position: absolute; }
#btn_comenzar { width: 199px; height: 82px; margin-top: 710px; margin-left: 145px; display: block; }
#comenzar { background: url('../img/btn_comenzar.png') no-repeat; width: 199px; height: 82px; border: none; }